@charset "utf-8";
/* CSS Document */

.topic {
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
}
.subtopic {
	font-size: 14px;
	font-weight: bold;
}

.text {
	font-size: 12px;
	padding: 10px;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.code {
	background-color: #FFFFCC;
}
